<%= form_with model: note do |form| %>
   <% if note.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :topic_id %><br>
    <%= form.collection_select(:topic_id, Topic.all, :id, :name_with_icon) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>