<%= form_with model: note, class: 'mb-5' do |form| %>
   <% if note.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.collection_select(:topic_id, Topic.all, :id, :name_with_icon, {prompt: 'Select Topic'}, class: 'form-select') %>
  </div>

  <div class="my-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="my-3">
    <%= form.text_area :body, class: "form-control", placeholder: "Start writing something great..." %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-success mt-3" %>
  </div>
<% end %>