<h1>Notes</h1>

<%= form_with url: "/notes", method: :get, data: { controller: "actions", turbo_frame: 'notes-frame' } do |form| %>
  <%= select_tag :sort_by, options_for_select([['Date (Most Recent)', 'recent'], ['Date (Most Oldest)', 'oldest'],['Title (A-Z)', 'title_asc'], ['Title (Z-A)', 'title_desc']], params[:sort_by] || 'recent'), data: { action: 'change->actions#submit' } %>
  
  <%= form.collection_select(:topic_id, Topic.all, :id, :name_with_icon, {prompt: "All Topics"}, data: { action: 'change->actions#submit' } ) %>
<% end %>


<turbo-frame id="notes-frame">
  <ul>
    <% @notes.each do |note| %>
      <li>
        <%= link_to note.title, note %>
        <%= note.created_at %>
        <%= Topic.find(note.topic_id).name %>
      </li>
    <% end %>
  </ul>
</turbo-frame>

<%= link_to "New Note", new_note_path %>
