
<div class="container-fluid mt-5 pt-5">
  <%= form_with url: "/notes", method: :get, data: { controller: "actions", turbo_frame: 'notes-frame' } do |form| %>
    <div class="container d-flex align-items-center justify-content-between">
      <div class="container d-flex align-items-center">
        <h1>Notes</h1>
        <i class="bi bi-caret-right-fill"></i>
      </div>
      <%= form.text_field :query, data: { action: 'input->actions#submit' }, class: "form-control", type: "search", placeholder: "Start typing to search..." %>
    </div>
    <div class="container my-2">
      <%= select_tag :sort_by, options_for_select([['Date (Newest)', 'newest'], ['Date (Oldest)', 'oldest'],['Title (A-Z)', 'title_asc'], ['Title (Z-A)', 'title_desc']], params[:sort_by] || 'newest'), data: { action: 'change->actions#submit' }, class: "form-select" %>
      <%= form.collection_select(:topic_id, Topic.all, :id, :name_with_icon, {prompt: "All Topics"}, data: { action: 'input->actions#submit' }, class: "form-select" )  %>
    </div>
  <% end %>

  <turbo-frame id="notes-frame">
    <div class="container my-4 notes-grid">
        <%= render @notes %>
    </div>
  </turbo-frame>
</div>