<h1><%= @note.title %></h1>

<p><%= @note.body %></p>

<p><%= Topic.find(@note.topic_id).name %></p>

<p><%= @note.created_at %></p>

<%= link_to "Edit Note", edit_note_path(@note) %>
<%= link_to "Back to notes", root_path %>
<%= link_to "Delete", note_path(@note), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>